$preto-1:#020202;
$roxo:#cf44f9;

@import "bootstrap__imports";
@import "reset";
@import "responsivo";
@import "menu";
@import "animation";



body#page__home {
    font-family: 'Open Sans', sans-serif;
    color: white;
    overflow-x: hidden;
}



.d__flex {
    display: flex;
    flex-wrap: wrap;
}

.container {
    @include d(ll) {
        max-width: 1366px;
    }
}

@mixin bg-props-contain {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@mixin bg-props-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


#page__home {

    @import "style__home";
    @import "style__produtos";
}

@import "page__autor";
@import "page__produtos";
@import "footer";