$preto-1:#020202;
$roxo:#cf44f9;

@import "bootstrap__imports";
@import "reset";
@import "responsivo";
@import "menu";
@import "animation";


body {
    font-family: 'Open Sans', sans-serif;
    height: 3000px;
    color: white;
    overflow-x:none;
}


.d__flex {
    display: flex;
    flex-wrap: wrap;
}

.container {
    @include d(ll) {
        max-width: 1366px;
    }
}



#intro {
    height: 100vh;
    min-height: 700px;
    /*  background-image: url(../img/bg-intro.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top; */
    width: 100%;
    padding-top: 100px;

}

#intro {
    position: relative;

    .img__bg {
        position: absolute;
        top: 0;
        z-index: -9;
        width: 100%;
        height: 100%;
        background-color: black;

        img {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            object-fit: cover;

            @include d(m) {
                filter: brightness(35%);
                object-position: left;
            }
        }
    }

    .intro__text {
        span {
            font-size: 180px;
            font-weight: bold;
            padding-bottom: 30px;
            border-bottom: 15px solid $roxo;

            @include d(m) {
                font-size: 120px;
                padding-bottom: 0px;
            }
        }

        h1 {
            margin-top: 80px;
            font-size: 50px;
            font-weight: bold;

            @include d(m) {
                font-size: 42px
            }
        }

        .button__roxo {
            padding: 15px 40px;
            font-weight: bold;
            font-size: 20px;
            border-radius: 10px;
            background: $roxo;
            color: white;
            margin-top: 50px;
            display: inline-block;

            @include d(m) {
                display: block;
                text-align: center;
                margin: 0 auto;
                max-width: 200px;
                margin-top: 50px;

            }
        }
    }

}


#smart {
    .smartphone {
        height: 350px;

        img {
            max-width: 100%;
            margin: 0 auto;
            position: relative;
            top: 0px;
            //z-index: 2;
        }
    }
}



.smart__cards {
    z-index: 10;
    overflow: hidden;

    .d__flex {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .col-lg-3 {
        min-width: 270px;
        margin-bottom: 20px;

    }

    ul {
        padding: 30px 20px;
        border-radius: 20px;
        color: black;
        //box-shadow: -1px 15px 18px -3px rgba(0,0,0,0.18);
        box-shadow: -6px 7px 18px 0px rgba(0, 0, 0, 0.18);
        max-width: 320px;
        height: 300px;
        max-height: 350px;
        background: white;
        transition: 0.4s ease;

        @include d(m) {
            display: flex;
            align-items: center;
            height: initial;
            padding: 15px 30px;
            margin: 0 auto;
        }

        h3 {
            font-size: 22px;
            margin-bottom: 20px;
            font-weight: bold;
            transition: 0.4s ease;

            @include d(m) {
                margin-left: 10px;
                font-size: 18px;
                margin-bottom: 0px;


            }
        }

        svg path,
        svg rect {
            transition: 0.4s ease;
        }

        svg {
            transition: 0.4s ease;

            @include d(m) {
                width: 50px;
            }

        }

        &:hover {

            svg path,
            svg rect {
                fill: black;
            }
        }

        p {
            @include d(m) {
                display: none;
            }
        }
    }

    .card__roxo {
        background: #cf44f9;
        color: white;

        &:hover {
            svg {
                transform: translateX(30px);

                @include d(m) {
                    transform: translateX(30px);

                }

            }

            h3 {
                color: $preto-1;
            }
        }

        @include d(m) {
            svg {
                width: 40px;
            }

            li:first-child {
                order: 2;

            }

            h3 {
                margin: 0;
                margin-right: 20px;
                margin-left: initial;
            }
        }
    }


}

.scroll__ativou {
    .card__roxo {
        svg {
            transform: translateX(20px);



        }

        svg path,
        svg rect {
            fill: black;
        }

        h3 {
            color: $preto-1;
        }

    }
}

#gallery {
    padding-bottom: 100px;
    margin-top: 180px;
    background: $preto-1;
    position: relative;

    @include d(m) {
        // background: transparent;

        margin-top: 40px;
        height: 300px;
        background-image: url(../img/quebra.png);
        //  background-attachment:fixed;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .gallery__relative {
        position: relative;

    }

    .gallery__grid {
        //position: relative;
        //top: 120px;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr 1fr;
        //grid-template-rows: 200px 300px;
        grid-template-areas:
            "fota1 fota2 fota3"
            "fota1 fota2 fota5"
            "fota4 fota2 fota5"
            "fota4 fota2 fota5 ";

        @include d(m) {
            display: none;
        }
    }

    .gallery__1 {
        grid-area: fota1;
    }

    .gallery__2 {
        grid-area: fota4;
    }

    .gallery__3 {
        grid-area: fota2;
    }

    .gallery__4 {
        grid-area: fota3;
    }

    .gallery__5 {
        grid-area: fota5;
    }

    .relogio {
        @include d(m) {
            bottom: -650px;
            zoom: .3;
        }
    }

    .clock {
        left: initial;
    }

}

#hans {
    color: $preto-1;
    padding: 80px 0;
    padding-top: 180px;

    h2 {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 70px;

        @include d(m) {
            margin: 30px 0;
        }
    }
}


#footer {
    padding: 40px 0;
    padding-bottom: 80px;
    background: $preto-1;

    .footer__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .footer__socias {
        justify-content: space-around;

        @include d(m) {
            margin-top: 20px;
        }
    }

    .col-lg-4 {
        @include d(m) {
            padding-bottom: 40px;
        }

        p {
            margin-top: 40px;
        }
    }

    ul {
        li {
            margin-bottom: 8px;

            a {
                color: white;

            }
        }
    }
}