& {
    font-family: 'Open Sans', sans-serif;
    color: black;
    overflow-x: hidden;
}



    @import "../style__produtos";

    a[href="produtos.html"] {
        color: $roxo !important;
    }

    #intro {
        height: 300px;
        @include bg-props-cover;
        background-image: url(../img/bg-degrade.jpg);
        padding-top: 80px;

        h1 {
            color: white;
            text-align: center;
            margin-top: 80px;
        }
    }

    #categorias {
        .catego__wrapper {
            li {
                display: block;
                width: 25%;


                a {
                    display: inline-block;
                    text-align: center;
                    padding: 25px 0;
                    width: 100%
                }

                a.active {
                    border-bottom: 2px solid $roxo;
                }

            }

            li:not(li.catego__ver) {
                @include d(m) {
                    display: none;
                }
            }

            li.catego__ver {

                a {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                    .ver__icon {
                        margin-left: 10px;
                    }
                }

                @include d(m) {
                    width: 100%;
                }
            }
        }
    }
